node_modules/
release/
dist/
dist-electron/
out/
.vite/
.cache/
.electron-cache/
.electron-builder-cache/
.electron-temp/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*

# ===== arquivos temporários build local =====
.build-admin.*
run-*.ps1
run-*.cjs
build-admin.ps1

# ===== pastas pessoais / fora do repo =====
VOC/
Logo/

